body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    color: #333;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

button.ausente {
    background-color: #d9534f;
}

button.tarde {
    background-color: #f0ad4e;
}

button.retiro {
    background-color: #5bc0de;
}

select, input[type="date"] {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
